#include "./Secrets.xcconfig"

PRODUCT_NAME = $(inherited) DEV
PRODUCT_BUNDLE_IDENTIFIER = $(inherited).dev
ASSETCATALOG_COMPILER_APPICON_NAME = $(inherited).dev

CURRENT_PROJECT_VERSION = 5
MARKETING_VERSION = 0.5

CURRENT_SCHEME_NAME = DEV

API_HOST = egzaminy-ulc-backend.fly.dev
API_PATH = /api
API_SCHEME = https

USE_MOCK_DATA = NO
